.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip

*/cifar-10-batches-py
*/__pycache__
*checkpoint
*.gz
*.zip
*.pickle
*.p
*.meta
*.index
*.data*
*/data
.ipynb_checkpoints/
